body
{
	background-image: url('2.jpg');
}

div.sidebar
{

    background-image: url('1.jpg') ;
	position: fixed;
	left: 0px;
	width: 220px;
	height: 100%;
	font-family:serif ;
	font-size: 20px;
    color: white;

}


div.top
{
    padding: 50px;
	text-align: center;
	
	font-family:fantasy;
}

ul li 
{
	list-style-type: none;

}


ul li a
{
	color: snow;
	font-family: monospace;
	align-items: left;
}

.index
{
	display: inline-block;
	height: 100px;
	width: 42%;
	margin-top: 100px;
	margin-right: 5px;
	margin-left: 480px;
	margin-bottom: 375px;
	border-radius: 50px;
    padding: 150px;
    
}

.signin
{   
    display: inline-block;
	height: 100px;
	width: 42%;
	margin-top: 160px;
	margin-right: 5px;
	margin-left: 480px;
	margin-bottom: 375px;
	border-radius: 50px;
    padding: 15px;



}

.ticket
{
	display: inline-block;
	height: 100px;
	width: 42%;
	margin-top: 100px;
	margin-right: 5px;
	margin-left: 480px;
	margin-bottom: 375px;
	border-radius: 50px;
    padding: 15px;
}